@model AWSGymWebsite.Models.GymPage
@using AWSGymWebsite.Models

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>
<div>
    <h4>GymPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GymName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GymName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GymLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GymLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgURL)
        </dd>
        <dt class="col-sm-2">
            image
        </dt>
        <dd class="col-sm-10">
            @{
                var cd = new CloudFront();
            }
            <img src="@cd.cloudfront/@Model.S3Key" width="300" />
        </dd>
        <dt class="col-sm-2">
            <input asp-for="viewer" type="hidden" value="@Model.viewer" />
        </dt>
        <dd class="col-sm-10">
            <input asp-for="viewer" type="hidden" value="@Model.viewer" />
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h2>Send Message to Subscribers</h2>
<form asp-action="SendMessageToSubscribers" method="post">
    <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary custom-button">Send Message</button>
</form>
 