@model IEnumerable<AWSGymWebsite.Models.GymPage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="gymOwner">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                Image
            </th>
            <!--

            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S3Key)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.viewer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GymName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GymLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <img src="@item.ImgURL" width="200px" height="200px" />
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.ImgURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S3Key)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.viewer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#gymOwner').DataTable();
    });
</script>
