
@model AWSGymWebsite.Models.GymPage

@{
    ViewData["Title"] = "View Gym Details";
}

<h1>@Model.GymName</h1>

<p>@Model.GymLocation</p>
<p>Closing Time: @Model.ClosingTime</p>
<p>Opening Time: @Model.OpeningTime</p>
<p>Contact Number: @Model.ContactNumber</p>
<p>Details: @Model.Details</p>

<p>
    @if (!string.IsNullOrEmpty(Model.viewer))
    {
    <span>You are already subscribed to this gym.</span>
    }
    else
    {
    <a asp-action="SubscribeGymOwner" asp-route-ownerId="@Model.OwnerID" asp-route-viewerEmail="@User.Identity.Name">Subscribe to this gym</a>
    }
</p>