@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model AWSGymWebsite.Models.GymPage

@{
    ViewData["Title"] = "View Gym Details";

    var sub = ViewData["Subscribe"].ToString();
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
        }

        h1 {
            text-align: center;
            padding: 20px;
            background-color: #007bff;
            color: #fff;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        p {
            line-height: 1.6;
        }

        .subscription-message {
            color: green;
            font-weight: bold;
        }

        .subscription-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 10px;
        }

            .subscription-link:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1>@Model.GymName</h1>

    <!-- gym details content -->
    <div class="container">
        <img src="@Model.ImgURL" alt="@Model.GymName" style="max-width: 100%; height:auto;"/>
        <p>@Model.GymLocation</p>
        <p>Closing Time: @Model.ClosingTime.ToString("hh:mm tt")</p>
        <p>Opening Time: @Model.OpeningTime.ToString("hh:mm tt")</p>
        <p>Contact Number: @Model.ContactNumber</p>
        <p>Details: @Model.Details</p>

        @if (sub.Equals("true"))
        {
        <p class="subscription-message">You are already subscribed to this gym.</p>
        }
        else
        {
            <form asp-action="SubscribeGymOwner" asp-route-ID="@Model.ID">
                <button class="subscription-link" type="submit">
                    Subscribe to this gym
                </button>
            </form>
        }
    </div>
</body>
</html>